{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_price %}
	<div class="price-container">
		{{ parent() }}

		{% if page.product.active %}
			<div class="product-detail-form-container">
				{% sw_include '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block page_product_detail_buy_form %}{% endblock %}

{% block page_product_detail_buy_inner %}
	{{ parent() }}
	{% block page_product_detail_headline_inner %}
		{% block page_product_detail_name_container %}
			<div class="col product-detail-name-container">
				{% block page_product_detail_name %}
					<h1 class="product-detail-name" itemprop="name">
						{{ page.product.translated.name }}
					</h1>
				{% endblock %}
			</div>
		{% endblock %}

		{% block page_product_detail_manufacturer %}
			{% if page.product.manufacturer %}
				<div class="col-md-auto product-detail-manufacturer">
					{% block page_product_detail_manufacturer_inner %}
						{% block page_product_detail_manufacturer_link %}
							<a href="{{ page.product.manufacturer.link }}" class="product-detail-manufacturer-link" title="{{ page.product.manufacturer.translated.name }}">
								{% if page.product.manufacturer.media %}
									{% block page_product_detail_manufacturer_logo %}
										<img src="{{ page.product.manufacturer.media|sw_encode_media_url }}" class="product-detail-manufacturer-logo" alt="{{ page.product.manufacturer.translated.name }}"/>
									{% endblock %}
								{% else %}
									{% block page_product_detail_manufacturer_text %}
										{{ page.product.manufacturer.translated.name }}
									{% endblock %}
								{% endif %}
							</a>
						{% endblock %}
					{% endblock %}
				</div>
			{% endif %}
		{% endblock %}
	{% endblock %}
	<pre>
		{{ dump() }}
	</pre>

	<div class="product-description">
		{{page.product.translated.description}}
	</div>

	{% if page.product.customFields.custom_product_assets_video %}
		<div class="product-video">
			<video width="100%" height="auto" controls>
				<source src="{{page.product.customFields.custom_product_assets_video}}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>
		samrty capture
	{% endif %}


	{% if page.product.customFields.custom_product_info_text %}
		<div class="product-info">
			<div class="product-info-title">Weitere Infos</div>
			<div class="product-info-text">
				{{page.product.customFields.custom_product_info_text | raw}}
			</div>
			<div class="product-info-additional-container">
				<div class="product-info-additional-content">
					I must explain to you how all this mistaken idea
				</div>
				<div class="product-info-additional-content">
					Denouncing pleasure and praising
				</div>
				<div class="product-info-additional-content">
					Pain was born and I will give you complete
				</div>
				<div class="product-info-additional-content">
					Account of the system
				</div>
			</div>
		</div>
	{% endif %}

	<div class="question-container">
		<div class="question-title">
			Sonst Noch Fragen?
		</div>
		<div class="question-text">
			Dann schreib uns per Whatsapp oder E-Mail.<br>
			Wir melden uns so schnell es geht bei dir zurück!
		</div>
		<div class="whatsapp-icon">{% sw_icon 'shopware' %}</div>
		<div class="telegram-icon">{% sw_icon 'shopware' %}</div>
	</div>

{% endblock %}
